<h1>@Model.Name</h1>

<p>@Model.Hungry</p>
<p>@Model.Tired</p>
<p>@Model.Bored</p>

@if(@Model.isDead())
{
  <h2>@Model.Name has died</h2> 
}
@if(@Model.isStarving() && !@Model.isDead())
{
  <h3>@Model.Name is starving</h3>
}
else if(!@Model.isStarving() && !@Model.isDead())
{
  <p> </p>
}
@if(@Model.isExhausted() && !@Model.isDead())
{
  <h3>@Model.Name is exhausted</h3>
}
else if(!@Model.isExhausted() && !@Model.isDead())
{
  <p> </p>
}
@if(@Model.isDepressed() && !@Model.isDead())
{
  <h3>@Model.Name is depressed</h3>
}
else if(!@Model.isDepressed() && !@Model.isDead())
{
  <p> </p>
}

@DateTime.Now.ToString("HH:mm:ss")

<form action="/play/@Model.Id/feed" method="post">
  <button type="submit">Feed</button>
</form>

<form action="/play/@Model.Id/bedtime" method="post">
  <button type="submit">Bedtime</button>
</form>

<form action="/play/@Model.Id/kickball" method="post">
  <button type="submit">Play kickball</button>
</form>


<a href="/play">Go Back to Pets</a>